# Environnements Python
venv/
.env/
.conda/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Données & modèles lourds
models/
*.pkl
*.html
*.joblib

# MLflow
mlruns/
mlflow.db

# Docker
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Schémas d’architecture (livrables jury uniquement)
MLOps Architecture — Real Estate Price Prediction System.png

# Video
Swagger_test.mp4